<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/homee.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lora:ital@1&family=Poppins:wght@100;200;300&family=Quicksand:wght@300&family=Raleway:wght@200&family=Red+Hat+Display:wght@300&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/user" class="nav-link">Check Allotment</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>


      </ul>
    </header>
  </div>
	
  <!-- <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/login">Login</a>
<!-- </div> -->


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static\images\ABlock.jpg" class="d-block w-100" alt="...">
      <div class="container">  
        <div class="content">
          <h1 style="font-family: 'Roboto', sans-serif;" align="center">EXAM HALL SEAT ALLOCATION SYSTEM FOR VIT BHOPAL</h1>
        </div>
         
      </div>
    </div>
  </div>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>